.nav{
  background-color: #9e9e9e;
  padding: 10px;
  flex-shrink: 0;
}
.content{
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  flex-shrink: 0;
  background-color: #9e9e9e;
  padding: 10px;
}
.rs-uploader-file-item-btn-remove .rs-btn-close{
  color: white !important;
}