*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body{
  background-color: #000000;
  color: white;
  min-height: 100vh;
}
#root{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.rs-uploader-file-item-btn-remove.rs-btn-close {
  color: #ff5733 !important; 
}
.rs-uploader-file-items{
  /* background-color: rgb(226, 225, 225); */
  border-radius: 5px;
}

.rs-uploader-file-items,
.rs-uploader-file-item,
.rs-uploader-file-item-title,
.rs-uploader-file-item-size
 {
  color: white !important; /* Set the starting color */
  border-radius: 5px;
}

/* Hover effect on parent elements to change text color */
.rs-uploader-file-items:hover .rs-uploader-file-item,
.rs-uploader-file-items:hover .rs-uploader-file-item-title,
.rs-uploader-file-items:hover .rs-uploader-file-item-size,
.rs-uploader-file-item:hover .rs-uploader-file-item-title,
.rs-uploader-file-item:hover .rs-uploader-file-item-size {
  color: black !important; /* Change text color to black when parent is hovered */
  transition: color 0.3s linear; /* Smooth color transition */
  border-radius: 5px;
}
.rs-btn:hover,
.rs-btn-default:hover{
  background-color: rgb(75, 189, 255);
  color: white;
}